<!-- Navbar -->
<nav class="w-full h-[105px] bg-primary font-sans px-9 flex items-center justify-between fixed top-0 left-0 z-50">
    <img src="https://hcm19preview.sapsf.com/public/ui-resource/AGROSAVIAT1/500;mod=5e9b1811c5e45db4f3a041fc15b969c7" alt="Logo Agrotalento" class="max-h-16 h-auto w-auto">
    <div class="bg-red flex flex-col font-semibold text-white items-end">
      <p class="text-4xl uppercase">{{currentTime}}</p>
      <p class="text-base capitalize">{{currentDate}}</p>
    </div>
</nav>
<!-- Banner -->
<div class="mt-[105px] relative mb-10">
    <img src="Banner-H2.jpg" alt="Banner AgroTalento" class="w-full h-[280px] object-cover z-10">
    <div class="absolute inset-0 flex items-center justify-center">
      <p class="text-white text-4xl font-bold">{{greeting}}</p>
    </div>
  </div>