<!-- Contenedor del video -->
<div class="mx-10 rounded-xl lg:max-w-4xl w-full overflow-hidden relative">
	<div id="player"
		class="min-w-full w-auto h-auto aspect-video"></div>

	<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent; z-index: 10;"></div>
	

</div>

<!-- Controles de video simulados -->
<div id="controles-video"
	class="text-4xl flex gap-6 w-full justify-center my-6 items-center md:max-w-3xl">
	<button (click)="togglePlay()"
		id="play-button"
		class="w-10 h-fit">
		<i [class]="videoPlaying ? 'fas fa-pause' : 'fas fa-play'"></i>
	</button>
	<!-- barra de progreso -->
	<div id="progress-bar-bg"
		class="w-full h-2 bg-gray-300 rounded-full flex items-center">
		<div id="progress-bar-fg"
			class="h-full bg-secondary rounded-full"></div>
	</div>
</div>

<h2 class="text-4xl min-h-20 md:max-w-4xl w-full font-semibold flex px-10 justify-center items-center text-center" style="display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; -webkit-line-clamp: 2; line-clamp: 2;">{{videoTitle}}</h2>
